﻿@page
@model StonksTracker.AddStockPossessionModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Wertpapiere hinzufügen";
}

<h1 class="display-4">Wertpapiere hinzufügen</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <h4>Wertpapiere über ISIN eingeben</h4>
        <form method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISIN" class="control-label">@Html.DisplayNameFor(model => model.ISIN)</label>
                <input class="form-control" name="ISIN" />
                <span asp-validation-for="ISIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDate" class="control-label">@Html.DisplayNameFor(model => model.BuyDate)</label>
                <input asp-for="BuyDate" class="form-control" name="BuyDate" />
                <span asp-validation-for="BuyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Html.DisplayNameFor(model => model.Price)</label>
                <input asp-for="Price" class="form-control" name="BuyPrice" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h4>Wertpapiere suchen</h4>
        <input class="form-control" name="Search" />
    </div>
</div>

<div>
    <a href="/Depot/Index">Zurück zum Depot</a>
</div>

