﻿@page
@model StonksTracker.IndexModel

@{
    ViewData["Title"] = "Mein Depot";
}

<h1 class="display-4">Mein Depot</h1>
<hr />


<p>
    <a href="/Depot/AddStockPossession" >Hinzufügen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockPossession[0].BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPossession[0].BuyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPossession[0].AllTimeHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPossession[0].AllTimeLow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockPossession)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllTimeHigh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllTimeLow)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.StockPossessionID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.StockPossessionID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.StockPossessionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
