﻿@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <b>StonksTracker</b> <br />
    Philipp Gerstung <br />
    Kleinfeldstraße 14 <br />
    68165 Mannheim <br />

    <a href="mailto:philipp.a.gerstung@gmail.com">philipp.a.gerstung@gmail.com</a>
    
</p>

