﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Stonks Tracker";
}



<div class="text-center random-background">
</div>

<div class="index-get-started">
    <h1 id="index-welcome-heading" class="display-4">Willkommen bei StonksTracker</h1>
    <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="Depot/Index" class="btn btn-primary">Zu meinem Depot</a>
        }
        else
        {
            <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Einloggen</a>

            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Neuen Account anlegen</a>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Immer auf dem neusten Stand</h5>
                    <p class="card-text">Durch die Echtzeitanalysen und den automatischen Nachrichten per E-Mail entgeht Ihnen keine Kursentwicklung mehr!</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kostenlos einsteigen</h5>
                    <p class="card-text">Starten Sie jetzt kostenlos durch. Keine Angst, Sie benötigen keine Kreditkarte oder ähnliches.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Auf der sicheren Seite</h5>
                    <p class="card-text">Verschlüsselung Ihrer persönlichen Daten auf dem neusten Stand. Alles Anonym und geschützt.</p>
                </div>
            </div>
        </div>
    </div>
</div>




