﻿@model StonksTracker.Models.Sites.KontaktModel;
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Sie haben ein Problem mit der Webseite festgestellt oder einfach nur eine Frage? <br />
    Benutzen Sie das unten stehende Kontaktformular:
</p>

<div class="col-md-4">
    <form asp-action="Kontakt" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="email"></label>
            <input asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="message"></label>
            <input asp-for="message" class="form-control" />
            <span asp-validation-for="message" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Absenden</button>
    </form>
</div>




