﻿
@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>Ihre Nachricht wurde versandt. Sie werden so schnell wie möglich eine Antwort erhalten.</p>
