﻿@{
    ViewData["Title"] = "Datenschutz";
}
<h1>@ViewData["Title"]</h1>
<hr />

<h3>Deutsch</h3>
<p>
    Diese Seite befindet sich in der Entwicklung und ist nicht für die Öffentlichkeit bestimmt.
    Alle Daten die übermittelt werden, werden gespeichert.

    Der Webserver speichert Logdateien mit Zugriffen und den IP-Adressen. Diese Daten werden nur im Notfall
    zur Fehlerbehebung verwendet und sonst nicht weiter ausgewertet.

    Die Titelbilder auf der Startseite stammen von <a href="https://www.unsplash.com">www.Unsplash.com</a>. Diese 
    Seite speichert einen Cookie auf dem Computer des Benutzers. Welche Daten das Unternehmen Unsplash damit erhebt
    und speichert entzieht sich der Kenntnis des Betreibers von StonksTracker.

</p>

<h3>English</h3>
<p>
    This site is under development and not for public use. All data entered is stored.
</p>
