﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-Mail bestätigen";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="centered">
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Zum Login</a>
</div>
