﻿body {
}

.random-background {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), 
        url(https://source.unsplash.com/collection/3582397);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    height: 40vh;
    margin-bottom: 15px;
    padding-top: 30%;
}

.index-get-started{
    text-align: center;
    margin-bottom: 50px;
}

.card{
    background: white;
    height: 100%; /* Make the Cards 100% in height so that they are all as large as the largest card */
}

/* Use this for transition of the cards on hover
.card:hover {
        background: linear-gradient(0deg, rgba(132,235,250,1) 0%, rgba(228,250,255,1) 100%);
        -webkit-transition: background 1000ms linear;
        -ms-transition: background 1000ms linear;
        transition: background 1000ms linear;
    }
*/
    